@inject IViewLocalizer Localizer

<div class="sidebar" data-color="blue">
    <div class="logo">
        <a class="simple-text logo-mini">
            @Localizer["RamblingThoughtsInitials"]
        </a>
        <a class="simple-text logo-normal">
            @Localizer["RamblingThoughts"]
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="now-ui-icons design_app"></i>
                    <p>@Localizer["Dashboard"]</p>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="now-ui-icons business_badge"></i>
                    <p>@Localizer["Map"]</p>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Users" asp-action="UserDashboard">
                    <i class="now-ui-icons education_atom"></i>
                    <p>@Localizer["User"]</p>
                </a>
            </li>
        </ul>
    </div>
</div>